::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f3f1f2;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    background: #00FFFF;
    border-radius: 30px;
}

img {
    max-width: 100% !important;
}

body {
    background-color: #f3f1f2;
}

#banner{
    background-image: url(../img/terapia.png);
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f3f1f2;
    grid-template-rows: 0fr 1fr;
}

#banner button{
    margin-top: 2vw;
    font-size: 2.5vw;
}

#banner h2{
    font-size: 5vw;
}

#banner button{
    background-color: #00FFFF;
    border: none;
    color: black;
    border-radius: 360px;
    padding: 1.5vw;
    font-size: 1.5vw;
}

#banner button:hover{
    background-color: #00CED1;
}

#textos {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    border-radius: 5px;
}

h1 {
    color: black;
}

.doutores {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#cartman, #keny {
    border: none;
    background-color: #00FFFF;
    color: black;
    font-weight: bolder;
}

#formaPagamento, #preco, #terapeutas{
    border-radius: 5px;
    border: none;
    height: 34px;
}

.depressao, .ansiedade, .psicopatia, .transtornoB {
    text-decoration: none;
}

/* Estilos para o pop-up */

.swal2-popup  {
    background: #00FFFF !important;
    border-radius: 50px;
}

.swal2-timer-progress-bar-container{
    display: none;
}

.swal2-title  {
    color: black !important;
    background: #00FFFF;
}

.swal2-icon .swal2-icon-content{
    background: transparent;
}

[class^='swal2'] {
    -webkit-tap-highlight-color: transparent;
}

.swal2-confirm.swal2-styled {
    background: white;
    color: #00FFFF;
}

/* Estilos para Daltonicos */

.dalto #cartman, 
.dalto #keny, 
.dalto #enviarBtn,
.dalto #textos button,
.dalto::-webkit-scrollbar-thumb {
    background-color: #D3D3D3 !important;
}

.dalto .depressao,
.dalto .ansiedade,
.dalto .psicopatia,
.dalto .transtornoB {
    color: black;
    text-decoration: underline;
}

.dalto #gridRadios1,
.dalto #gridRadios2,
.dalto #gridRadios3,
.dalto #gridCheck1 {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
}

.dalto .swal2-popup,
.dalto .swal2-title,
.dalto .swal2-confirm.swal2-styled,
.dalto .swal2-icon.swal2-info.swal2-icon-show {
    background: #D3D3D3 !important;
    color: black;
    border-color: black;
}